@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  animation: rotate 20s linear infinite;
}
