.header {
  border-bottom: 2px solid rgb(131, 131, 131);
  display: flex;
  position: sticky;
  padding: 0;
  margin: 0 auto;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
}


