.cards__item {
  margin: 0 100px 60px 0;
  width: 240px;
  text-align: center;
}

.cards__item:nth-of-type(3) {
  margin-right: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.cards__item:last-child {
  margin-bottom: 0;
}

.cards__item:nth-of-type(4) {
  margin-bottom: 0;
}
