.social-services__links {
  padding: 15px 0 20px 20px;
  text-decoration: none;
  color: rgb(0, 58, 248);
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  font-size: 24px;
  cursor: pointer;
}

.social-services__links:hover {
  color: #fff;
}

