.navigation {
  display: flex;
  flex-direction: column;
  /* width: 35%; */
  margin-top: 20px;
  /* padding-left: 40px; */
}

@media screen and (max-width: 1024px) {
  .navigation {
    padding-top: 30px;
  }
}


@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
}

