.news {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(340px, 1fr));
  /* grid-template-rows: repeat(3, 1fr); */
  justify-content: space-around;
  justify-items: center;
  gap: 25px;
  max-width: 780px;
}

@media screen and (max-width: 768px) {
  .news {
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(6, 1fr); */

  }
}
