.khan__buy-link {
  margin-left: 48px;
  color: #2f80ed;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  text-decoration: none;
  transition: opacity .5s;
}

.khan__buy-link:after {
  content: ' →';
}

.khan__buy-link:hover {
  opacity: .5;
}

